  python
  pip
  numpy
  dask
  pandas
  pydantic
  torch
  lightning
  MDAnalysis
  seaborn
  matplotlib
  scikit-learn>=1.3
  KDEpy             # (Optional) Faster than scikit-learn for KDE
  diptest
  plumed
  jupyter           # (Optional) For running the notebooks
  #mlcolvar