  python
  pip
  numpy
  dask
  pandas
  torch
  lightning
  MDAnalysis
  seaborn
  matplotlib
  scikit-learn>=1.3
  mlcolvar
  KDEpy             # (Optional) Faster than scikit-learn for KDE
  diptest
  plumed